@font-face {
  font-family: Monoton;
  src: local('Monoton'),
    url('%PUBLIC_URL%/static/fonts/monoton/Monoton-Regular.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}

html {
  box-sizing: border-box;
  color: #171717;
  background: #eef2f7;
}

html *,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  margin: 2rem 0rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
